a.scroll-to-top(href="#anchor-hero")
    span.caret-icon.top

footer

    section.footer-main(id="anchor-footer")
        .container.footer-main__container
            .row
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
                    h5.footer-main__h5 Main contacts
                    h4.footer-main__h4 +420 777 252 584
                    h4.footer-main__h4 info@datinnovations.com

                    h5.footer-main__h5 Secondary contacts
                    h4.footer-main__h4 +420 731 444 431
                    h4.footer-main__h4 datdataat@gmail.com

                .col-12.col-sm-6.col-md-3.col-lg-3.col-xl-3.footer-main__col
                    .footer-main__wrap
                        h5.footer-main__h5 Address
                        p.footer-main__text Data Analysis #[br] & Technologies s.r.o.
                        p.footer-main__text V jámě 699/1
                        p.footer-main__text Prague

                .col-12.col-sm-6.col-md-3.col-lg-3.col-xl-3.footer-main__col
                    .footer-main__wrap
                        h5.footer-main__h5 Navigation
                        a.footer-main__link(href="#anchor-services") About
                        a.footer-main__link(href="#anchor-app") Our products
                        a.footer-main__link(href="#anchor-footer") Contacts

section.copyright
    .container.copyright__container
        .copyright__wrap
            h5.copyright__h5 Copyright © 2018 #[a.copyright__link(href=metaURL) #{metaSitename}]
            h5.copyright__pull #[a.copyright__link(href="#") Terms of Service] #[a.copyright__link(href="privacy-policy") Privacy Policy] 
        